
<div class="edit-profile-container">
  <h2>Update your profile</h2>
  <!--User profile picture-->
  <%= simple_form_for @user do |f| %>
    <%= f.input :username %>
    <%= f.input :age %>
    <%= f.input :level, collection: ['Rookie', 'Beginner', 'Advanced', 'Pro' ], label: 'How much surfing experience do you have?' %>
    <%= f.submit "Save", class: "btn btn-warning btn-lg" %>
  <% end %>
</div>
