<div class="show-banner-container">

  <div class="profile-banner">
    <div>
      <% if policy(@user).edit? %>
        <%= link_to edit_user_path(@user), method: :get do %>
        <h4>Edit <i class="fas fa-pencil-alt"></i></h4>
        <% end %>
      <% end %>
    </div>
    <h1 id="profile-header"><%= @user.username %></h1>
    <div>
      <% if @user.photo.blank? %>
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-extralarge centered-profile-pic">
      <% else %>
      <%= cl_image_tag @user.photo.url, alt: "alttext", class: "avatar-extralarge centered-profile-pic" %>
      <% end %>
    </div>

  </div>

</div>

<div class="show-profile-container">

  <div class="row">

      <div class="col-12 col-lg-4">
        <div class="profile-info-card">
          <div class="profile-info-content">
            </h2><h2 style="color: #306D69">from </strong> <%= @user.hometown %> </strong></h2>
            <h5><strong>Age: </strong> <%= @user.age %></h5>
            <h5><strong>Surf experience: </strong> <%= @user.level %></h5>
            <h5 style="text-align: justify;"><strong>Bio: </strong> <%=   @user.bio %></h5>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="profile-ride-card">
          <div class="profile-ride-content">
            <h2>Rides history</h2>
            <br>
            <h4> Last rides joined (<strong><%= @user.rides.count  %></strong>)</h4>
            <br>
            <% if @user.rides.empty? %>
              <% else %>
                <ul style="list-style-type: none;">
                  <% sorted_rides = @user.rides.sort_by {|ride| (ride.date) } %>
                  <% sorted_rides.take(5).each do |ride| %>
                    <li>
                      <%= link_to ride_path(ride), target: :_blank do  %>
                      <h6> 🏄 <%= ride.beach.name %> on <%= ride.date %></h6>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="profile-ride-card">
          <div class="profile-ride-content">
            <h6><a href="#">Surfing tips</a></h6>

            <h6><a href="#">Surfing pics</a></h6>

            <h6><a href="#">Thoughts about beaches</a></h6>
          </div>
        </div>
      </div>
    </div>

</div>
