<div class="show-banner-container">

  <div class="profile-banner">
    <div>
      <% if policy(@user).edit? %>
        <%= link_to edit_user_path(@user), method: :get do %>
        <h4>Edit <i class="fas fa-pencil-alt"></i></h4>
        <% end %>
      <% end %>
    </div>
    <h1 id="profile-header"><%= @user.username %></h1>
    <div>
      <% if @user.photo.blank? %>
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-extralarge centered-profile-pic">
      <% else %>
      <%= cl_image_tag @user.photo.url, alt: "alttext", class: "avatar-extralarge centered-profile-pic" %>
      <% end %>
    </div>

  </div>

</div>

<div class="show-profile-container">

  <div class="row">

      <div class="col-12 col-lg-4">
        <div class="profile-info-card">
          <div class="profile-info-content">
            </h2><h2 style="color: #306D69">from </strong> <%= @user.hometown %> </strong></h2>
            <h5><strong>Age: </strong> <%= @user.age %></h5>
            <h5><strong>Surf experience: </strong> <%= @user.level %></h5>
            <h5 style="text-align: justify;"><strong>Bio: </strong> <%=   @user.bio %></h5>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="profile-ride-card">
          <div class="profile-ride-content">
            <h2>Rides history</h2>
            <h4> Last rides joined (<strong><%= @user.rides.count  %></strong>)</h4>
            <br>
            <% if @user.rides.empty? %>
              <% else %>
                <ul style="list-style-type: none;">
                  <% sorted_rides = @user.rides.sort_by {|ride| (ride.date) } %>
                  <% sorted_rides.take(5).each do |ride| %>
                    <li>
                      <%= link_to ride_path(ride), target: :_blank do  %>
                      <h6> 🏄 <%= ride.beach.name %> on <%= ride.date.strftime('%d/%m/%Y')%></h6>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="profile-ride-card">
          <div class="profile-ride-content">
            <h2>Notifications</h2>
            <h5>Update your preferences to receive email reminders before your upcoming ride !</h5>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputState">Surf level</label>
                  <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>Rookie</option>
                    <option>Beginner</option>
                    <option>Advanced</option>
                    <option>Pro</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Favorite location</label>
                  <input type="text" class="form-control" placeholder="City">
                </div>
              </div>
              <div>
                  <label >Available timeslots</label>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="form-check-label" for="gridCheck">
                    <em>Weekdays :</em>
                  </label>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Morning
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                     Noon
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Afternoon
                    </label>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-check-label" for="gridCheck">
                    <em>Weekends :</em>
                  </label>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Morning
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                     Noon
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Afternoon
                    </label>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-warning" style="background-color: #316D69; border: none; color: white; border-radius: 25px; width: 100px;">Save</button>
            </form>
          </div>
        </div>
      </div>

</div>
