  <div class="banner" style='background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("<%=@banner_img%>");'>
  <div class="container-fluid">

    <div class="search-bar">
      <h1>Find your next ride</h1>
      <p><%=@banner_header%></p>
      <%= form_tag rides_path, method: :get do %>
        <div class="form" >
          <label id="label">Where ?</label>
          <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "City"
          %>
          <div class="row">
            <div class="col-md-6">
              <label id="label">When ?</label>
              <%= date_field :date, :date, :value => Time.now.strftime('%Y-%m-%d'), min: Date.today, max: (Date.today + 5.days),
                class: "form-control",
                placeholder: "dd/mm/yyyy"
              %>
            </div>
            <div class="col-md-6">
              <label id="label">What time ?</label>
              <%= select_tag(:time,
                options_for_select(['Morning','Noon','Afternoon']),
                {
                class: "form-control",
                placeholder: "Morning"})
              %>
            </div>
          </div>
          <label id="label">Experience ?</label>
          <%= select_tag(:experience,
            options_for_select(['Rookie','Beginner','Advanced', 'Pro']),
            {
            class: "form-control",
            placeholder: "Beginner"})
          %>
          <%= hidden_field_tag :distance, 50 %>
          <%= submit_tag "Search", class: "searchbtn btn btn-warning btn-lg", id: "search-btn" %>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>
