<div class="content">
  <div class="results">
    <div class="big_card" style="background-image: url()">
      <%= @rides.first.beach.name %>
      <%= @rides.first.date %>
      <%= @rides.first.time_slot %>
    </div>
  <div class="cards">

    <div class="card" style="background-image: url()">
      <% @rides.each_with_index do |ride, index| %>
      <% next if index == 0 %>
      <%= rides.beach.name %>
      <%= rides.date %>
      <%= rides.time_slot %>
      <% end %>
    </div>

    <!-- <div class="card" style="background-image: url()">
      Shanghai
    </div>

    <div class="card" style="background-image: url()">
      Barcelona
    </div>

    <div class="card" style="background-image: url()">
      Paris
    </div>

    <div class="card" style="background-image: url()">
      London
    </div>

    <div class="card" style="background-image: url()">
      Melbourne
    </div> -->
  </div>

  </div>

  <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png'>
</div>
