<div class="content">
  <div class="results">

    <%= link_to  ride_path(@rides.first) do %>
      <div class="big_card" style="background-image: url(https://www.hertz.ma/upload/stuff/images/bouznika%20plage.jpg)">
          <%= @rides&.first&.beach&.name %>
          <%= @rides&.first&.date %>
          <%= @rides&.first&.time_slot %>
      </div>
    <% end %>

  <div class="cards">

    <% @rides.each_with_index do |ride, index| %>
      <% next if index == 0 %>
        <%= link_to ride_path(ride) do %>
          <div class="card" style="background-image: url()">
              <%= ride.beach.name %> <br>
              <%= ride.date %> <br>
              <%= ride.time_slot %>
          </div>
        <% end %>
    <% end %>

    <!-- <div class="card" style="background-image: url()">
      Shanghai
    </div>

    <div class="card" style="background-image: url()">
      Barcelona
    </div>

    <div class="card" style="background-image: url()">
      Paris
    </div>

    <div class="card" style="background-image: url()">
      London
    </div>

    <div class="card" style="background-image: url()">
      Melbourne
    </div> -->
  </div>

  </div>

  <div
    id="map"

    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
