<div class="content">

<!-- /////////////////// BEACH PHOTO CAROUSEL //////////////////// -->

  <div class="show-banner">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="Picture 2">
         <!--  cl_image_tag @ride.beach.photo.url, alt: "alttext" -->
        </div>
        <div class="carousel-item">
          <img class="d-block" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="Picture 2">
        </div>
        <div class="carousel-item">
          <img class="d-block" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="Picture 2">
 <!--          cl_image_tag @ride.beach.photo.url, alt: "alttext" -->
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</div>


<div class="show-ride-container">

  <!-- /////////////////// JOIN CARD LAYOUT //////////////////// -->

  <div class="show-join-card-sticky-container" >

    <div class="show-join-card-head-container">

      <div class="show-join-card-content">

        <h4 style="color:white; margin-bottom: 0px"><%=@ride.date.strftime('%A')%> <%=@ride.date.strftime('%d')%>/<%=@ride.date.strftime('%m').to_i%> <%=@ride.time_slot.downcase%> </h4>
      </div>

      <% if !user_signed_in? || current_user.rides.where(id: @ride.id).blank? %>

        <div class="show-join-card-content">
          <div>
            <div style="text-align: right" >
              <%= link_to ride_userrides_path(@ride), method: :post do  %>
                <button class="btn btn-warning" id="join-btn">JOIN RIDE</button>
              <% end %>
            </div>
          </div>
        </div>

      <% else %>

        <div class="show-join-card-content">
          <div>
            <%= link_to ride_userride_path(@ride), method: :delete do  %>
              <div style="text-align: right;" >
                <button class="btn btn-warning" id="join-btn" >CANCEL</button>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>

    </div>

    <div class="show-join-card-content-container" id="surf-content-desktop" style="background: white;">
      <img src="https://static.thenounproject.com/png/2588898-200.png" style="width:80px; background: #ffae03;">
      <div class="show-beach-card-review-content">
        <div class="row justify-content-between" style="padding: 0px 16px 0px 16px;">
          <h5> <strong>Weather</strong></h5>
        </div>
        <h6><%= @ride.air_temp %>°C / <%= @ride.weather_description %> </h6>
      </div>
    </div>

    <div class="show-join-card-content-container" id="surf-content-desktop" style="background: white;">
      <img src="https://static.thenounproject.com/png/2588897-200.png" style="width:80px; background: #ff8811;">
      <div class="show-beach-card-review-content">
        <div class="row justify-content-between" style="padding:0px 16px 0px 16px">
          <h5> <strong>Wave</strong></h5>
          <h6><%= @ride.surf_height_score(@ride[:wave_height],params[:experience])[1] %> waves, with <%=@ride.swell_period_score(@ride[:swell_period])[1] %> swell.</h6>
        </div>
      </div>
    </div>

    <div class="show-join-card-content-container" id="surf-content-desktop" style="background: white;">
      <img src="https://static.thenounproject.com/png/2588891-200.png" style="width:80px; background: #fe4e00;" >
      <div class="show-beach-card-review-content">
        <div class="row justify-content-between" style="padding:0px 16px 0px 16px">
          <h5> <strong>Wind</strong></h5>
          <h6><%= @ride.wind_speed_score(@ride[:wind_speed])[1] %> wind coming <%= @ride.wind_compass%>, with <%=@ride.wind_gust_score(@ride[:wind_gust])[1] %>.</h6>
        </div>
      </div>
    </div>

  </div>

<!-- /////////////////// BEACH CARD LAYOUT //////////////////// -->

  <div class="show-beach-card-container">

    <div style="padding:16px 0px 0px 16px;">
      <h2> <strong> <%= @ride.beach.name %> </strong></h2>
      <p> <%= @ride.beach.description %> </p>
    </div>

    <div class="show-beach-card">
      <h3>Available services at this beach: </h3>
        <div class="show-beach-icons">
          <i class="fas fa-parking" id="show-beach-icon-on"></i>
          <i class="far fa-life-ring" id="show-beach-icon-on"></i>
          <i class="fas fa-shower" id="show-beach-icon-off"></i>
          <i class="fas fa-store" id="show-beach-icon-on"></i>
          <i class="fas fa-utensils" id="show-beach-icon-off"></i>
          <i class="fas fa-mug-hot" id="show-beach-icon-off"></i>
        </div>
    </div>


    <!-- /////////////////// REVIEWS CARD //////////////////// -->

    <div class="show-beach-card">
      <div class="row justify-content-between">
        <div>
          <h3 style="padding:0px 16px 0px 16px;"> Reviews (<%=@ride.beach.reviews.count%>)</h3>
          <% if Review.where(beach_id: @ride.beach_id).empty? %>
            <p style="padding-left:16px"> Be the first to review this beach.</p>
          <% else %>
            <div class="inline-stars">
              <% average = Review.where(beach_id: @ride.beach_id).average(:rating) %>
              <% average.round.times do %>
                <h2 class="inline-stars-big"> <i class="fas fa-star"></i></h2>
              <% end %>
              <% (5 - average.round).times do %>
                <h2 class="inline-stars-big"> <i class="far fa-star"></i></h2>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if !user_signed_in? %>
        <% elsif !Userride.where(ride_id: @ride.id, user_id: current_user.id).blank? %>
          <div >
            <%= link_to new_ride_review_path(@ride), method: :get do %>
              <button id="classic-btn">Add a review <i class="fas fa-pencil-alt"></i></button>
            <% end %>
          </div>
        <% end %>

      </div>

      <% @ride.beach.reviews.order(created_at: :desc).take(5).each do |review| %>
        <div class="show-beach-card-review">
          <% if review.user.photo.blank? %>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-medium-bordered">
          <% else %>
          <%= cl_image_tag review.user.photo.url, alt: "alttext", class: "avatar-medium-bordered" %>
          <% end %>
          <div class="show-beach-card-review-content">
            <div class="inline-stars">
              <% (review.rating.to_i).times do %>
                <h5 id="inline-stars-small"> <i class="fas fa-star"></i></h5>
              <% end %>
              <% (5 - review.rating.to_i).times do %>
                <h5 id="inline-stars-small"> <i class="far fa-star"></i></h5>
              <% end %>
              <p id="rating-date"> <%= Time.at(review.created_at).strftime("%d/%m/%Y") %></p>
            </div>
            <h5><strong><%= review.user.username.capitalize %></strong> from <%= review.user.hometown %></h5>
            <p><%= review.description %></p>
          </div>
        </div>
      <% end %>
    </div>

    <% if !user_signed_in? || current_user.rides.where(id: @ride.id).blank? %>

    <% else %>

      <div class="show-riders-container">

        <!-- /////////////////// RIDERS CARD //////////////////// -->

        <div class="show-beach-card">
          <h3>Riders</h3>
          <% if @ride.users.count <= 1 %>
          <h5> No other rider has joined yet.</h5>
          <% else %>
            <h5> <strong> <%= @ride.users.count - 1%> </strong> rider(s) also going :</h5>
            <% @ride.users.each do |user| %>
              <ul>
                <%= link_to user_path(user), method: :get, target: :_blank do  %>
                <li style="list-style-type: none;">
                  <% if user == current_user %>
                  <% elsif user.photo.blank? %>
                    <%= image_tag "avatar.png", alt: "alttext", class: 'avatar' %><%= user.username %> 🤙
                  <% else %>
                  <%= cl_image_tag user.photo.url, alt: "alttext", class: "avatar" %><%= user.username %> 🤙
                  <% end %>
                </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </div>

        <!-- /////////////////// CHAT-ROOM CARD //////////////////// -->

        <div class="show-beach-card" style="padding:8px;">
            <h3>Chat room</h3>
            <% if policy(Message).create? %>

              <div  class="pl-2" style="overflow: scroll;height: 120px;" id='messages'>
                <% @ride.messages.each do |message| %>
                  <%= render 'messages/show', message: message %>
                <% end %>
              </div>
              <div id="message-ajax">
               <%= render 'messages/form', ride: @ride, message: Message.new  %>
              </div>
            <% end %>
        </div>
      </div>

    <% end %>

    <!-- /////////////////// SURF CONDITIONS CARD //////////////////// -->

    <div class="show-beach-card">
      <h3>Detailed surf conditions (<%=@ride.date.strftime('%a')%>. <%=@ride.date.strftime('%d')%>/<%=@ride.date.strftime('%m').to_i%> <%=@ride.time_slot.downcase%>) </h3>
      <div class="show-join-card-content-container" id="surf-content-phone" style="background: white;">
        <div style="padding:16px; background: #ffae03;">
          <h5> <strong>Weather</strong></h5>
          <img src="https://static.thenounproject.com/png/2588898-200.png" style="width:80px;">
        </div>
        <div class="show-beach-card-review-content">
          <div>
            <h6> <strong>Forecast :</strong>  <%= @ride.weather_description %> / <%= @ride.cloud_score(@ride.cloud_cover)[1] %>.</h6>
              <h6> <strong>Air temperature : </strong> <%= @ride.air_temp %>°C</h6>
            <h6><strong> Water temperature : </strong> <%= @ride.water_temp %>°C </h6>
          </div>
        </div>
      </div>



      <div class="show-join-card-content-container" id="surf-content-phone" style="background: white;">
        <div style="padding:16px; background: #ff8811;">
          <h5> <strong>Wave</strong></h5>
          <img src="https://static.thenounproject.com/png/2588897-200.png" style="width:80px;">
        </div>
        <div class="show-beach-card-review-content">
          <%= small_dots(@ride.surf_height_score(@ride.wave_height, params[:experience])[0].round) %>
          <h6> <strong>Wave height :</strong <%= @ride[:wave_height].round(1) %>m > / <%= @ride.surf_height_score(@ride[:wave_height],params[:experience])[1]%></h6>
          <h6> <strong>Swell period : </strong><%= @ride[:swell_period].round %> s  / <%= @ride.swell_period_score(@ride[:swell_period])[1]%> waves</h6>
          <h6> <strong> Swell direction : </strong> <%= @ride[:swell_direction].round %>°  / <%= @ride.wind_direction_score(@ride[:wind_direction])[1]%> swell</h6>
        </div>
      </div>

      <div class="show-join-card-content-container" id="surf-content-phone" style="background: white;">
        <div style="padding:16px; background: #fe4e00;">
          <h5> <strong>Wind</strong></h5>
          <img src="https://static.thenounproject.com/png/2588891-200.png" style="width:80px">
        </div>
        <div class="show-beach-card-review-content">
          <%= small_dots(@ride.wind_speed_score(@ride.wind_speed)[0].round) %>
          <h6> <strong> Speed :</strong> <%= @ride[:wind_speed].round %> km/h / <%= @ride.wind_speed_score(@ride[:wind_speed])[1]%> wind</h6>
          <h6> <strong> Gust :</strong> <%= @ride[:wind_gust].round %> km/h  / <%= @ride.wind_gust_score(@ride[:wind_gust] - @ride[:wind_speed])[1]%></h6>
          <h6> <strong>Direction : </strong><%= @ride[:wind_direction].round %> °  / <%= @ride.wind_direction_score(@ride[:wind_direction])[1]%> wind</h6>
        </div>
      </div>
    </div>

  </div>

</div>
