  <div class="show-header">
    <h2> <%= @ride.beach.name %> </h2>
  </div>

  <div class="show-container">

    <div class="show-banner">
      <img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80">
      <div class="show-banner-info">
        <h2> Scoring: <strong><%= @ride.scoring %> </strong></h2>
      </div>
    </div>
  </div>

  <div class="show-container">

    <div class="show-cards">
      <div class="show-card">
        <img src="https://image.flaticon.com/icons/png/512/2045/2045847.png" style="width:150px">
        <div class="show-card-info">
          <h2> Wave height </h2>
          <h2> <%= @ride[:wave_height].round(2) %>m </h2>
        </div>
      </div>

      <div class="show-card">
        <img src="https://image.flaticon.com/icons/png/512/2045/2045893.png" style="width:150px">
        <div class="show-card-info">
          <h2> Wind speed </h2>
          <h2> <%= @ride[:wave_height].round(2) %>m </h2>
        </div>
      </div>


    <% if !user_signed_in? || current_user.rides.where(id: @ride.id).blank? %>
    <div class="show-card">
      <img src="https://images.unsplash.com/photo-1526485641275-3b11a42acd44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
      <div class="show-card-info">
        <div class="row">
          <%= link_to ride_userrides_path(@ride), method: :post do  %>
          <button type="button" class="btn btn-warning" style="border-radius: 50px" >JOIN THE RIDE</button>
          <% end %>
        </div>
      </div>
    </div>
    <% else %>
      <div class="show-card">
        <h1 style="color: #61A1F9">Joined Riders:</h1>
        <div class="show-card-info">
          <div class="row">
           <% @ride.users.each do |user| %>
            <p class="ml-3"><i class="fas fa-swimmer mr-3"></i><%= user.username %> 🤙</p>
           <% end %>
          </div>
        </div>
      </div>
    <% end %>

    </div>

  </div>
